@font-face {
  font-family: 'Varela Round';
  font-style:  normal;
  font-weight: 400;
 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round';
}
p, div {
    font-family: 'Varela Round';
}


html, body, #sidebar, #container {
            height: 100%;
            margin: 0px;
        }
        body {
            padding-top: 50px;
        }
        label {
            font-weight: normal;
        }
        #map {
            height: 100%;
            margin: 0px;
            -webkit-box-shadow: 0 -1px 10px rgba(0,0,0,0.5);
            -moz-box-shadow: 0 -1px 10px rgba(0,0,0,0.5);
            box-shadow: 0 -1px 10px rgba(0,0,0,0.5);
        }
        #loading {
            position: absolute;
            width: 220px;
            height: 19px;
            top: 50%;
            left: 50%;
            margin: -10px 0 0 -110px;
            z-index: 20001;
        }
        .navbar{
            background-color: #00baff;
            border-bottom: 1px solid #00ffc5;
        }
        
        .navbar-nav>li a{
            color: #FFF!important;
        }

        .navbar-nav>li a:hover{
            color: #c1c1c1!important;
        }
        
        .navbar .navbar-brand {

            font-weight: bold;
            font-size: 22px;
            color: white;
            white-space: nowrap;
        }
        .tt-dropdown-menu {
            overflow: auto;
        }
        .tt-hint, .tt-query {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            border-radius: 4px;
        }
        .typeahead-header {
            margin: 0 5px 5px 5px;
            padding: 3px 0;
            border-bottom: 1px solid #ccc;
        }
        .search-container {
            width: 250px;
        }
        #searchbox {
            -webkit-border-top-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            -moz-border-top-left-radius: 4px;
            -moz-border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        .leaflet-popup-content {
            margin-top: 8px;
            margin-bottom: 0px;
            margin-left: 7px;
            margin-right: 7px;
        }
        .panel-heading a:hover {
            text-decoration: none;
        }
        a.toggle {
            position: fixed;
            left: 0;
            bottom: 0;
            display: block;
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
            border-radius: 0 !important;
            -webkit-border-top-right-radius: 4px !important;
            -moz-border-top-right-radius: 4px !important;
            border-top-right-radius: 4px !important;
            -webkit-border-bottom-right-radius: 4px !important;
            -moz-border-bottom-right-radius: 4px !important;
            border-bottom-right-radius: 4px !important;
            background-color: #222;
            color: white;
            opacity: 0.8;
            z-index: 100;
        }
        a:hover.toggle {
            background-color: #222;
            color: white;
            opacity: 1;
        }
        @media (max-width: 992px) {
            .navbar .navbar-brand {
                font-size: 18px;
                float: left;
            }
            .search-container {
                width: 150px;
            }
            .leaflet-control-attribution {
                display: none;
            }
        }
        @media (max-width: 768px){
            .search-container {
                width: 100%;
            }
        }
        /* Print Handling */
        @media print {
            .navbar, .toggle, #sidebar {
                display: none !important;
            }
        }
        
        .leaflet-popup-content {
            margin-top: 8px;
            margin-bottom: 0px;
            margin-left: 7px;
            margin-right: 7px;
            line-height: 1.5;
            padding-bottom: 5px;
        }
        
        .leaflet-popup-content p {
	margin: 1px 0;
	}
	
	
div.side-list {
	position: relative;
	z-index: 2;
	padding: 0;
}


	
	.list-group {
	margin-bottom: 0px;
	padding: 5px;
	background: #eee;
	background: rgba(0, 0, 0, 0.2);
}

.list-group-item:first-child {
	border-top: 0;
	border-radius: inherit;
}

#list-group-container {
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
}



p.address {
	font-weight: normal;
	font-size: 12px;
	margin: 0 0 4px;
}


button.list-group-item {
	border-left: 0px;
	border-right: 0px;
	color: #555;
	width: 100%;
	text-align: left;
	font-size: 13px;
	font-weight: bold;
	background: #FAF7F5;
}

button.list-group-item:last-child {
	border-bottom: 0;
}

button.list-group-item:hover, button.list-group-item.hover {
	background-color: #fcf8e3;
}

button.list-group-item.active, button.list-group-item.active:hover {
	background-color: #428bca;
	color: #fff;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}


#featurelist{
		    border: 1px solid black;
		    width: 150px;
		    height: 200px;
		    
		    
		}
		
		
.panel-group .panel {
margin-bottom: 10px;
overflow: hidden;
border-radius: 4px;
}